<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        admin endpoint
    </title>
</head>

<body>
    <h1>Feedbacks</h1>
    <% if (ratings.length> 0) { %>
        <% ratings.forEach(rating=> { %>
            <div class="feedback">
                <h2>Name: <%= rating.fullName %>
                </h2>
                <p>Course: <%= rating.courseName %>
                </p>
                <p>Rating: <%= rating.rating %>
                </p>
                <p>Feedback: <%= rating.feedback %>
                </p>
            </div>
            <% }); %>
                <% } else { %>
                    <p>No feedbacks available.</p>
                    <% } %>
</body>

</html>